[Unit]
Description=The Valkey container for Outline

[Container]
ContainerName=outline-valkey
Image=docker.io/valkey/valkey:8.1-alpine
EnvironmentFile=env/outline.env
Volume=outline-valkey-data:/data
HealthCmd=valkey-cli --no-auth-warning -u valkey://localhost/0 ping | grep -q PONG
HealthStartPeriod=20s
HealthTimeout=30s
HealthStartupInterval=10s
HealthStartupRetries=5
Notify=healthy
Pod=outline.pod

[Install]
WantedBy=multi-user.target
