[Unit]
Description=Outline container for Outline Application
Requires=outline-postgresql.service outline-valkey.service

[Container]
ContainerName=outline
Image=docker.io/outlinewiki/outline:latest
EnvironmentFile=env/.env
Volume=outline-data:/var/lib/outline/data
DNS=172.16.0.1
Pod=outline.pod

[Install]
WantedBy=multi-user.target
