[Unit]
Description=Outline Network

[Network]
NetworkName=outline
IPv6=true
DisableDNS=false
Internal=false
Subnet=172.17.189.0/24
Gateway=172.17.189.1
IPRange=172.17.189.0/28
DNS=172.17.189.1

[Service]
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
